$itemHeight: 100svh;
$itemWidth: 50svw;

.wrapper {
    height: 100svh;
    width: 100svw;
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;
}

.description {
    height: $itemHeight;
    width: $itemWidth;
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    height: $itemHeight;
    width: $itemWidth;
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;
}

.fade-enter{
    opacity: 0;
 }
 .fade-exit{
    opacity: 1;
 }
 .fade-enter-active{
    opacity: 1;
 }
 .fade-exit-active{
    opacity: 0;
 }
 .fade-enter-active,
 .fade-exit-active{
    transition: opacity 500ms;
 }