@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

$itemHeight: 90svh;
$itemWidth: 50svw;
$white: hsl(0, 0%, 90%);
$black: hsl(0, 0%, 2%);
$red: hsla(0, 100%, 50%, 0.7);
$gray: hsl(0, 0%, 70%);

.wrapper {
  height: 100svh;
  width: 100svw;
  box-sizing: border-box;

  display: flex;
  justify-content: center;
  align-items: center;
}

.description {
  height: $itemHeight;
  width: $itemWidth;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
}

.text {
  color: $white;
  height: 50svh;
  font-family: "Roboto", sans-serif;
  font-size: 50px;
  font-style: italic;
  padding-left: 2svw;
  
  display: flex;
  text-align: left;
  align-items: flex-end;
}

.efecto {
  margin-top: 20px;
  color: $gray;
  text-align: left;
  padding-left: 2svw;
  font-family: "Roboto", sans-serif;
  font-size: 50px;
  position: relative;
  z-index: 0;
}

.infoCelWrapper {
  padding: 10px 10px;
  width: 50svw;
  height: 30svh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.dropdownMenu {
  padding: 10px;
  background-color: $black;
  opacity: 0.9;
  border-radius: 8px;
  box-shadow: 0 0 7px 2px $white;
  position: absolute;
  opacity: 0;
  pointer-events: none;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;

  text-align: left;
  color: $white;
}

.infoCel {
  font-family: 'Nunito', sans-serif;
  font-size: 4svh;
  height: 5svh;
  width: 12svw;
  box-sizing: border-box;
  border: 1px solid $black;
  border-radius: 8px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.infoCel:hover {
  box-shadow: 0 0 7px 2px $white;
  cursor: default;
}

.infoCel:hover .dropdownMenu {
  opacity: 0.92;
}

.logo {
  height: $itemHeight;
  width: $itemWidth;
  box-sizing: border-box;

  display: flex;
  justify-content: center;
  align-items: center;
}

.efecto::before {
  transform: scaleX(0);
  transform-origin: bottom right;
}

.efecto:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.efecto::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  inset: 0 0 0 0;
  background: $red;
  z-index: -1;
  transition: transform 0.3s ease;
}

@media screen and (max-width: 800px) {
  .logo {
    position: absolute;
    margin: 0;
    padding: 0;
    height: 100svh;
    width: 95svw;
    opacity: 0.2;
    display: none;
  }

  .description {
    margin: 0;
    padding: 10px;
    width: 100svw;
    height: 100svh;
    box-sizing: border-box;
  }

  .description:last-child {
    text-align: center;
  }

  .text {
    margin: 0;
    padding: 0;
    color: $white;
    height: 50svh;
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    font-style: italic;
    
    display: flex;
    text-align: left;
    align-items: center;
  }

  .infoCelWrapper {
    margin: 0;
    padding: 0;
    width: 95svw;
    height: 30svh;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .infoCel {
    font-family: 'Nunito', sans-serif;
    font-size: 3svh;
    height: 5svh;
    width: 30svw;
    box-sizing: border-box;
  }

  .efecto {
    font-size: 50px;
    padding: 0;
  }

  .dropdownMenu {
    width: 70svw;
    font-size: 5svw;
  }
} 
