header {
  padding: 1rem 0;
  align-content: center;

  & h1 {
    text-align: center;
  }
}

.hero {
  & .Typewriter {
    height: calc(var(--p-font-size) * 4);
    font-size: var(--font-size);
    align-content: center;
  }

  & .hero__btn__wrapper {
    width: 100%;
    padding: 0.5rem 0;

    display: inline-flex;
    justify-content: space-around;

    & .hero__btn {
      padding: 5px;
      display: inline-flex;
      align-items: center;
      
      & ion-icon {
        margin-right: 5px;
      }
    }
  }
}

.swiper {
  margin: var(--padding-top-bottom) 0;
  border-radius: var(--border-radius);
}

.programs__wrapper {
  padding: 1rem;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;

  & .programs__card {
    aspect-ratio: 1/0.5;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.ready {
  text-align: center;

  & .ready__p {
    font-size: var(--p-font-size);
    padding: 1rem 0;
  }

  & .ready__btn {
    padding: 0.5rem;
  }
}

.schedule__wrapper {
  padding: var(--padding-top-bottom) 0;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: var(--gap);
  
  & .schedule__p {
    font-size: var(--p-font-size);
    padding: 2px 0;
  }
}

.contact-us__wrapper {
  margin-bottom: var(--padding-top-bottom);
  padding: var(--padding-top-bottom) 0;
  text-align: center;

  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 1fr 1fr;
  gap: var(--gap);
  justify-content: center;
  align-items: center;

  & * {
    padding: 2px 0;
    font-size: var(--p-font-size);
  }
}

nav {
  margin-bottom: var(--padding-top-bottom);
  width: 100%;
  display: inline-flex;
  justify-content: space-evenly;

  & .md {
    --ico-nav-size: 2.5rem;
    
    width: var(--ico-nav-size);
    height: var(--ico-nav-size);
    color: var(--clr-text);

    display: flex;
    align-items: center;
    justify-content: center;
  }

  & .navbar__btn {
    border: none;
    background: none;
  }
}

footer {
  text-align: center;
}
