/* Mobile first design */

header {
  padding: 1rem 0;
  align-content: center;

  & h1 {
    text-align: center;
  }
}

.hero {
  & .Typewriter {
    height: calc(var(--p-font-size) * 4);
    font-size: var(--p-font-size);
    align-content: center;
  }

  & .hero__btn__wrapper {
    width: 100%;
    padding: 0.5rem 0;

    display: inline-flex;
    justify-content: space-around;

    & .hero__btn {
      display: inline-flex;
      align-items: center;
      
      & ion-icon {
        margin-right: 5px;
      }
    }
  }
}

.swiper {
  margin: var(--padding-top-bottom) 0;
  border-radius: var(--border-radius);
}

.programs__wrapper {
  padding: 1rem;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: var(--gap);

  & .programs__card {
    font-size: var(--p-font-size);
    aspect-ratio: 1/0.5;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.ready {
  text-align: center;

  & .ready__p {
    font-size: var(--p-font-size);
    padding: 1rem 0;
  }
}

.schedule__wrapper {
  padding: var(--padding-top-bottom) 0;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: var(--gap);
  
  & .schedule__p {
    font-size: var(--p-font-size);
    padding: 2px 0;
  }
}

.contact-us {
  display: grid;
  grid-template-rows: auto 1fr;
}

.contact-us__wrapper {
  padding: var(--padding-top-bottom);
  text-align: center;

  display: grid;
  grid-template-columns: auto auto;
  gap: var(--gap);
  justify-content: center;
  align-items: center;

  & * {
    padding: 2px 0;
    font-size: var(--p-font-size);
  }

  & .contact-us__btn {
    border: none;
    background: none;
    color: var(--clr-text);
  }

  & .md{
    font-size: 1.8rem;
  }
}

nav {
  margin: var(--padding-top-bottom) 0;
  width: 100%;
  display: inline-flex;
  justify-content: space-evenly;

  & .md {
    --ico-nav-size: 2.5rem;
    
    width: var(--ico-nav-size);
    height: var(--ico-nav-size);
    color: var(--clr-text);

    display: flex;
    align-items: center;
    justify-content: center;
  }

  & .navbar__btn {
    border: none;
    background: none;
  }
}

footer {
  text-align: center;
}

/* Tablet responsive media query */

@media (width >= 768px) {

  .main {
    display: grid;
    justify-items: stretch;
    align-items: stretch;
    column-gap: var(--gap);
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: 'hero carousel'
                         'programs programs'
                         'ready ready'
                         'schedule contact-us';

    & .hero {
      grid-area: hero;
      place-self: stretch stretch;

      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      & .hero__btn__wrapper {
        display: flex;
        flex-direction: column;
        gap: calc(var(--gap) * 2);
        align-items: center;

        & .hero__btn {
          width: 70%;
          justify-content: center;
        }

      }

    }

    & .carousel {
      align-self: center;
      grid-area: carousel;
    }

    & .programs {
      grid-area: programs;
    }

    & .ready {
      grid-area: ready;
    } 

    & .schedule {
      grid-area: schedule;
    }

    & .contact-us {
      grid-area: contact-us;
    }
  }
}

/* Desktop responsive media query */

@media (width >= 1024px) {
  .programs__wrapper {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
  }
}