
/* Variables */
:root {
  --p-font-size: 1.1rem;
  --border-radius: 15px;
  --padding-top-bottom: 1rem;
  --gap: 10px;

  --clr-bg: #343a40;
  --clr-secondary: #495057;
  --clr-text: #f8f9fa;
}

/* Global styles */

body {
  font-family: poppins, sans-serif;
  padding: 0.5rem;
  background: var(--clr-bg);
  color: var(--clr-text);
}

h1 {
  font-size: clamp(1.5rem, 5vw, 3rem);
}

h2 {
  font-size: clamp(1.25rem, 4vw, 2.5rem);
  padding: 1rem 0;
  text-align: center;
}

/* UTILITY CLASSES */

.card {
  background: var(--clr-secondary);
  border-radius: var(--border-radius);
}

/* CSS RESET */
*, *::before, *::after {
  box-sizing: border-box;
  position: relative;
  min-width: 0;
 /*outline: 1px solid lime;*/
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

h1, h2, h3, h4 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

img, picture, svg, video {
  display: block;
  max-width: 100%;
}

body {
  min-height: 100dvh;
}