
/* Variables */
:root {
  --p-font-size: 1.2rem;
  --border-radius: 15px;
  --padding-top-bottom: 1rem;
  --gap: 10px;

  --clr-bg: hsl(210, 11%, 15%);
  --clr-secondary: hsl(210, 10%, 23%);
  --clr-text: hsl(210, 17%, 98%);
}

/* Global styles */

body {
  font-family: poppins, sans-serif;
  padding: 0.5rem;
  background: var(--clr-bg);
  color: var(--clr-text);
}

h1 {
  font-size: clamp(2.2rem, 5vw, 3rem);
  font-weight: bold;
}

h2 {
  font-size: clamp(1.5rem, 4vw, 2.5rem);
  font-weight: bold;
  padding: var(--padding-top-bottom) 0;
  text-align: center;
}

/* UTILITY CLASSES */

.card {
  background: var(--clr-secondary);
  border-radius: var(--border-radius);
}

.btn {
  padding: calc(var(--padding-top-bottom) *0.7);
  border: none;
  border-radius: var(--border-radius);
  background: var(--clr-secondary);
  color: var(--clr-text);
  font-size: calc(var(--p-font-size) * 0.9);
}

/* CSS RESET */
*, *::before, *::after {
  box-sizing: border-box;
  position: relative;
  min-width: 0;
 /*outline: 1px solid lime;*/
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

h1, h2, h3, h4 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

img, picture, svg, video {
  display: block;
  max-width: 100%;
}

body {
  min-height: 100dvh;
}